/* your code here */
.content{
	align-items:center;
	
	width:90vw;
	background:black;
}
.logo_details{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:90vw;
	padding:6px;
}
.logo_name{
	color:white;
	font-size:30px;
	margin:20px;
}
.media-icons>img{
	margin-right:20px;
	border-radius:10%;
	height:30px;
	width:30px;
}
.tags{
	display:flex;
	justify-content:space-between;
	padding:10px;
	align-items:center;
	color:white;
}
.links>h3{
	text-decoration:underline;
}
.links{
	margin:20px;
}
.bottom{
	display:flex;
	width:90vw;
	justify-content:space-between;
	padding:10px;
	background:rgb(44,48,58);
	color:white;
	padding:0px;
}
.bottom>p{
	margin:20px;
}
