/* your code here */
.content{
	align-items:center;
	padding:30px;
	width:90vw;
	background:black;
}
.logo_details{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:90vw;
	padding:20px;
}
.logo_name{
	color:white;
	font-size:30px;
}
.media-icons>img{
	padding:8px;
	border-radius:10%;
	height:40px;
	width:40px;
}
.tags{
	display:flex;
	justify-content:space-between;
	padding:10px;
	align-items:center;
	color:white;
}
.bottom{
	display:flex;
	width:90vw;
	justify-content:space-between;
	background:darkgray;
	color:white;
	padding:0px;
}
